<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eussi.blog.modules.repository.ChannelRepository" >
    <!-- 查询文章的全部信息 -->
    <resultMap id="BaseResultMap" type="Channel" >
        <id column="id" property="id" />
        <result column="key_" property="key" />
        <result column="name" property="name" />
        <result column="status" property="status" />
    </resultMap>

    <sql id="Base_Column_Channel" >
        id,
        key_,
        name,
        status
    </sql>

    <select id="findAllByStatus" resultMap="BaseResultMap" parameterType="java.io.Serializable" >
        select
        <include refid="Base_Column_Channel" />
        from blog_channel a
        where  status = #{status}
    </select>
</mapper>